.signup {
  // width: 50%;
  // background: white;
  background-color: red;
  border: 1px solid #ccc;
  width: 25%;
 
  // transition: 1.1s ease-out;
  // box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
  // text-align: center;
 
}
